<div class="home-wrapper">
  <div class="home-container" style="background-image: url('../assets/images/garden-home.jpg'); background-size: cover">
    <div class="home-texte">
      <h1>Gardeny</h1>
      <p>Find your garden to party</p>
    </div>
  </div>
</div>

